#title{
    background-color: #ff4c68;
    color: #fff;
}
.navbar{
    padding: 0 0 4.5rem;
}

h1{
     font-family: "Montserrat",sans-serif;
     font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
body{
    font-family: 'Montserrat';
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}
/* download button */
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 20%;
    transform: rotate(25deg);
  position: absolute;

}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
   
}
.feature-box{
    text-align: center;
    padding: 4.5%;
}
.fa-heart,.fa-circle-check,.fa-bullseye{
    color: #ef8172;
    font-size: 4rem;
    padding-bottom: 1rem;
}
.fa-heart:hover,.fa-circle-check:hover,.fa-bullseye:hover{
    color: #ff4c68;
}
h3{
    font-family:  'Montserrat';
    font-weight: bold;
}
p{
    color: #8f8f8f;
    text-align: center;
    
}
/* testimonils */
#testimonials{
   
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
h2{
    font-family:  'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 20px;
}
.carousel-item{
    padding: 7% 15%;
}
.price-button{

    width: 100%;
}
#pricing{
    /* padding: 100px; */
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;

}
.pricing-column{
    padding: 4% 3%;
}
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}
.cta-text{
    font-size: 3.5rem;
    color: #fff;
    line-height: 1.5;
    font-family:  'Montserrat';
    font-weight: 900 ;
   
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}